[% USE Filter::ANSIColor 'color' %]
[% IF state == 'success' %]
[% msg | color 'green' +%]
[% ELSIF task.state == 'failed' %]
[% msg | color 'red' +%]
[% ELSIF state == 'running' %]
[% msg | color 'blue' +%]
[% ELSE %]
[% msg | color 'yellow' +%]
[% END %]
