*.sw?
blib
pm_to_blib
MYMETA.json
MYMETA.yml
Makefile.old
var/log/*log
var/run/*
var/sqlite/*db
share/kanku-schema.db
etc/config.yml
etc/kanku-worker.yml
etc/jobs/*yml
.kanku
KankuFile
config.yml
.salt
Saltfile
lib/x86_64-linux-thread-multi/perllocal.pod
lib/x86_64-linux-thread-multi/auto/Kanku/.packlist
*.bak
kanku-*tar.xz
t/tmp
home:M0ses:kanku
tmp/
t/tmp.db
