Hello,

message from kanku:

#######################################################################

[% kanku_url %]/job_result/[% job_id %]

#######################################################################

[% full_message %]
